<div class="latt-home">
  <mat-toolbar><span>Welcome To Latt CMS</span></mat-toolbar>

  <div class="latt-viewport-padding">
    <p>
      It's the place where you, as an Administrator, can create and update content for the Latt application and give the
      corresponding access to other users.
    </p>
    <p>
      ⚠️ Be aware that the changes you make are irreversible and may impact the Latt application's user experience. If
      you're not sure if the change you suggest is legitimate, get in touch with other Administrators and discuss the
      change request.
    </p>
  </div>
</div>
